#login-form,
.sign-up-form {
  padding: 5px;
  width: 100%;
  margin: auto;
  text-align: center;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  color: black;
  font-family: "Montserrat";
}

input:focus {
  outline: none;
}

.row {
  border: none;
  width: 100%;
  margin: auto;
}

.button {
  margin: auto;
  font-family: "Georgia";
  font-size: 20px;
  color: white;
  background-color: #4f5f5e;
  border: none;
  transition: 0.5s;
  width: fit-content;
}

.button:hover {
  background-color: #268078;
}
